<div class = "container text-center">
  <h1>About Page</h1>
  <p>This is DevMatch. Our company focuses on creating an exclusive
  community for developers and entrepreneurs to meet each other.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas, nisi, asperiores obcaecati laborum eligendi commodi voluptatem a 
  autem vel assumenda perferendis voluptate 
  recusandae ratione animi ex dolore voluptatum ducimus!</p>
</div>