<div class = "container text-center">
  <h1>About Page</h1>
  <p>This is DevMatch. Our company focuses on creating an exclusive
  community for developers and entrepreneurs to meet each other.</p>
</div>